
<%-include('../includes/head.ejs') %> 

<body>
    <%-include('../includes/header.ejs') %> 
    <main>
        <figure class="banner-categoria">
            <img src="/images/category-images/banner-categorias.jpg">
        </figure>
        <nav class="return-nav">
            <a href="/products/categorias"><i class="fa-solid fa-backward"></i> Nuestros Productos</a>
        </nav>
        <h2 class="titular"><%= categoria.name.toUpperCase()%></h2>
        
        <%- include('../includes/product-cards.ejs') %>

        
    </main>
    <%-include('../includes/footer.ejs') %>
    
</body>
    
</html>