<%-include('../includes/head.ejs') %>


    <body>
        <%-include('../includes/header.ejs') %>
            <main>
                <div>

                    <section class="producto">

                        <article id="articles_container">
                            <picture id="pic">
                                <img src="/images/product-images/<%= product.images%>" alt="foto del producto" id="img">
                            </picture>
                            <article id="product_info">
                                <h2>
                                    <%= product.name %>
                                </h2>
                                <h4 class="descuento">
                                    <%= product.descuento %> % de descuento
                                </h4>      <h4>
                                    <%= product.peso %>kg
                                </h4>
                                <div id="precioDescuento">
                                    <%let precioDesc= product.price - (product.price/100*product.descuento)%>
                                    <h5 class="item-price">$<%= parseInt(precioDesc) %>,00</h5>
                                    <h6>$<%=parseInt(product.price) %>,00</h6>
                                </div>
                          

                            </article>
                        </article>
                    </section>
                </div>

            </main>



    </body>
    <%-include('../includes/footer.ejs') %>

        </html>