<%-include('../includes/head.ejs') %>

    <%- include('../includes/header.ejs') %>

        <main>
            <section class="form">


                <form action="/products/edit/<%= product.id%>?m=PUT" method="POST" enctype="multipart/form-data">
                    <label for="name">Nombre del Producto</label>
                    <input type="text" name="name" id="name" required value="<%= product.name %>">

                    <label for="category">Categoría del Producto</label>
                    <select name="category" id="category" required >
                        <option value="Quesos" <%= product.category == "Quesos" ? "selected": null %>>QUESOS</option>
                        <option value="Cocidos" <%= product.category == "Cocidos" ? "selected": null %>>COCIDOS</option>
                        <option value="Jamon Crudo" <%= product.category == "Jamon Crudo" ? "selected": null %>>JAMON CRUDO</option>
                        <option value="Salames y Salamines" <%= product.category == "Salames y Salamines" ? "selected": null %>>SALAMES Y SALAMINES</option>
                        <option value="Pancetas" <%= product.category == "Pancetas" ? "selected": null %>>PANCETAS</option>
                        <option value="Mortadelas" <%= product.category == "Mortadelas" ? "selected": null %>>MORTADELAS</option>
                        <option value="Bondiola" <%= product.category == "Bondiola" ? "selected": null %>>BONDIOLA</option>
                        <option value="Pancetas" <%= product.category == "Pancetas" ? "selected": null %>>PANCETAS</option>
                    </select>

                    <label for="marca">Marca del Producto</label>
                    <input type="text" name="marca" id="marca" required value="<%= product.marca %>">

                    <label for="peso">Cuanto pesa el paquete cerrado en kg?(no escribir kg, solo el nro)</label>
                    <input type="number" name="peso" id="peso" step="0.01" required value="<%= product.peso %>">

                    <label for="price">Precio del Producto, (no colocar el signo $, ni separador de miles)</label>
                    <input type="number" name="price" id="price"  step="0.01" required value="<%= product.price %>">

                    <label for="description">Descripción del Producto</label>
                    <textarea name="description" id="description" ><%= product.description %></textarea>

                    <label for="destacado">Destacar Producto?</label>
                    <select name="destacado" id="destacado" required >
                        <option value="no" <%= product.destacado == false ? "selected": null %>>No</option>
                        <option value="si" <%= product.destacado == true ? "selected": null %>>Si</option>
                    </select>

                    <label for="product-image">Imagen/es del Producto</label>
                    <input type="file" name="product-image" id="product-image" multiple >


                    <button type="submit" id="btn">Actualizar Datos</button>
                    <form action="/products/delete/<%=product.id%>?m=DELETE" method="POST" id="delete">
                        <button id="delBtn" type="submit">Eliminar Producto</button>
                    </form>
                </form>
            </section>
            
        </main>

        /* consultar por si quiere porcentaje de descuento */
        <script src="/scripts/forms.js"></script>

        </body>

        </html>