<%-include('../includes/head.ejs')%> 

<body>
    <%-include('../includes/header.ejs') %> 
<main>

    <figure class="banner-categorias">
        <img src="/images/banner-home-1.jpg">
    </figure>
    
    <h3 class="titular">NUESTROS PRODUCTOS</h3>

    <nav class="categorias-nav">
        <% categorias.forEach(element => { %>
        <a href="/products/categorias/<%=element.id%>">

            <img src="/images/category-images/<%= element.image %>">
            <h5><%= element.name %></h5>
        </a>
        <% })%>
        
    </nav>
 


</main>
<%-include('../includes/footer.ejs') %> 




</body>
</html>