<%-include('./includes/head.ejs') %>

    <%- include('./includes/header.ejs') %>

        <main>
            
            <figure class="banner-home">
               <img src="/images/banner-home-1.jpg" alt="" >
            </figure>
            <section class="category">
                <nav>
                    <a href="/products/categorias" class="boton">NUESTROS PRODUCTOS</a>
                </nav>

                
                <section id="categorias-carousel">
                    <nav id="track">
                        <% for( let i = 0; i < 5; i++ ) { %>
                            <% let i2 = i ++%>
                            <div class="slide">     
                                
                                <a class="cat-carr" href="/products/categorias/<%= categorias[i2].id%>">
                                    <img src="/images/category-images/<%= categorias[i2].image %>">
                                    <h5><%= categorias[i2].name %></h5>
                                </a>
                                
                                <a class="cat-carr" href="/products/categorias/<%= categorias[i].id%>">
  
                                    <img src="/images/category-images/<%= categorias[i].image %>">
                                    <h5><%=categorias[i].name%></h5>
                                </a>
                            </div>
                        <% } %>
                        
                        
                        </nav>
                       
                        
                    
                        <a id="btn-prev" href="#"><i class="fa-solid fa-arrow-left"></i></a>
                        <a id="btn-next" href="#"><i class="fa-solid fa-arrow-right"></i></a>
                        
                    
                    
                </section>
               
                



            </section>

            <nav class="contacto-nav">
                <a class="boton" href="./contacto">CONTACTANOS</a>


                <a class="whatsapp-icon"
                    href="https://wa.me/5491151084159?text=Hola%20vi%20su%20pagina%20web,%20me%20gustaria%20hacerles%20una%20pregunta..."
                    target="_blank"><i class="fa-brands fa-whatsapp"></i>
                </a>
            </nav>



            <section class="destacados">
                <h3 class="titular">DESTACADOS</h3>
                <% products.forEach(element=> { %>

                    <article class="item-article">
                        
                        <a href="/products/detail/<%=element.id %>"><img class="item-image"
                                src="/images/product-images/<%= element.images%>">


                        </a>
                        <h4 class="item-name"><%= element.name %> <%= element.peso %>kg - <%= element.marca %>   </h4>
                        <% if (element.descuento) { %>
                            <span class="descuento"><%=element.descuento%>% de descuento</span>
                            <div class="precio-descuento">
                                
                                <%let precioDesc= element.price - (element.price/100*element.descuento)%>
                                <h5 class="item-price">$<%= parseInt(precioDesc) %>,00</h5>
                                <h6>$<%=parseInt(element.price) %>,00</h6>
                            </div>
                         
                        <% } else{%>

                        <h4 class="item-price">$<%= element.price %> </h4>
                        <% } %>
                    </article>
                    <% }) %>

            </section>
            <nav class="download-nav">
                <a class="download" href="/files/listado-precios/prueba-1.xls" download="Listado Agosto 2022.xls">¡Click
                    acá para descargar la lista de precios!</a>
            </nav>

        </main>

        <%-include('./includes/footer.ejs') %>
        <script src="/scripts/carousel-categorias.js"></script>

            </body>

            </html>